<div class="clearfix mxn2">
  <div class="col sm-col-9 px2">
    <h3 class="mb2">About Chuhao</h3>
    <p>
      I am a postgraduate student from Gaoling School of Artificial Intelligence, Renmin University of China <a href="http://ai.ruc.edu.cn/">(RUC GSAI)</a>.
       Before that, I got my bachelor's degree from the School of Computer Science and Technology at Harbin Institute of Technology(HIT).
      </p>
    <p>I am very fortunate to be advised by Prof. <a href="https://scholar.google.com.hk/citations?user=9yVx9L8AAAAJ&hl=zh-CN&oi=ao">Ruihua Song</a>,
      my recent research interest is Text Generation and Cross-Modal Understanding, as well as Cross-Modal Dialogue.
    </p>  
    <p>
    My social skills are relatively weak, and I will feel slightly nervous in a crowded social place (ppl>=5). Therefore, I prefer to surf the Internet or play games.
      Cat 🐱 is my favorite animal, and I am not interested in outdoor sports. Compared to going out (No cat), I prefer to stay at home or in the laboratory.
    </p>
  </div>
  <div class="col sm-col-3 px2">
    <h3 class="mb2">Contact</h3>
    {% include contact.html %}
  </div>  
</div>
